<%- include('../../../views/partials/header')%>
<body>
  <%- include('../../../views/partials/navbar')%>
  <div class="container">
    <hr>
    <h2>Articles</h2>
    <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
    <hr>

      
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach((article)=> {%>
        <tr>
          <td><%= article.id%></td>
          <td><%= article.title%></td>
          <td><%= article.slug%></td>
          <td><%= article.category.title%></td>
                    <td>
                      <a href="/admin/article/edit/<%=article.id%>" class="btn btn-warning">Editar</a>
            <form action="/article/delete" method = "POST" style="display: inline" onsubmit="del(event, this)">
              <input type="hidden" name="id" value="<%=article.id%>">
              
              <button type="submit" class="btn btn-danger" >Deletar
</button>


            </form>
           
          </td>
          </tr>
        <%})%>
      </tbody>
    </table>

  </div>
  <script>
 function del(event, form) {
   event.preventDefault()
   
   var decisao = confirm("Voce quer deletar este artigo?")
   
   if(decisao){
     form.submit()
   }else{
     console.log("nao quero deletar")
   }
   
 }
</script>
</body>
<%- include('../../../views/partials/footer')%>
