<%- include('../../partials/header')%>
<link rel="stylesheet" href="/css/style.css">
<body>
 <%- include('../../partials/homenavbar')%>
 <div class="container">
           <% result.page.rows.forEach((article)=> {%>
           <br>
           <div class="card">
             <div class="card-header">
              <h2>
                <%= article.title%>
              </h2> 
             </div>
             <div class="card-body">
               <a href="/<%=article.slug%>" class="btn btn-outline-primary outline">Ler Artigo</a>
             </div>
           </div>
        <%})%>
 </div>
  <nav aria-label="Page navigation example" style="float: right" class="mt-3 me-3">
  <ul class="pagination">
    <%if(result.num == 2){%>
    <li class="page-item">
      <a class="page-link" href="/" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%}else{%>
    <li class="page-item">
      <a class="page-link" href="/articles/page/<%= result.num-1%>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%}%>
    <% for(let x = 1; x<=result.page.count/4+1;x++){%>
    <%if(x == 1){%>
    <li class="page-item"><a class="page-link" href="/"><%=x%></a></li>
    
    <%}else{%>
    <li class="page-item"><a class="page-link" href="/articles/page/<%=x%>"><%=x%></a></li>
    <%}%>
    <%}%>
    <% if(result.next== true){%>
    <li class="page-item">
      <a class="page-link" href="/articles/page/<%= parseInt(result.num)+1%>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <%}%>
  </ul>
</nav>
</body>
<%- include('../../partials/footer.ejs')%>
