<%- include('../../../views/partials/header')%>
<body>
  <%- include('../../../views/partials/navbar')%>
  <div class="container">
    <hr>
    <div class="card">
      <div class="card-header">
        <h2>Editar Categoria</h2>
      </div>
      <div class="card-body">
        <form action="/categories/update" method="POST">
          <input type="text" name="title" placeholder="Digite o título" class="form-control" value="<%= category.title%>"><br>
          <input type="hidden" name="id" value="<%= category.id%>">
          <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
      </div>
    </div>
  </div>

</body>
<%- include('../../../views/partials/footer')%>